.body{
  margin: 0;
  padding: 0;
}

#rslbackground{
  background-color: #1E285D;
}

/*.backgroundImage{
  image: url('../../No-Server-images/mls.png');
  background-repeat: no-repeat;
  height: 1000px;
  width: 800px;
}*/
/*#34398A*/
