<div class="homeImage">
  <div class="homeText">
    <div class="homeTextRight"> This is a fan page dedicated to the Real Salt Lake team this includes the senior team and the second team known as the Real Monarchs. Real Salt Lake play in Major League Soccer (MLS) and The Real Monarchs play in the United Soccer Leagues (USL). This is equivolent to BaseBall's MLB and AAA structure allowing players to move up and down in the Real Salt Lake Organization. Click on the Logos above to visit each team and find out more.</div>

    <div class="homeTextLeft"> The organization was created in 2004 and the team began play in 2005. In order to create a large fan base, Dave Checketts carefully chose the teams colors which are Claret Red and Colbalt Blue. Checketts was afraid that by choosing an all blue kit the team would alienate Utah Utes fans, whose team colors are red, because of their hatred toward BYU, whose colors are blue, and vice versa if he the teams colors were red. The team plays it's home games at Rio Tinto Stadium.</div>
  </div>
</div>
